* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dongle', sans-serif;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #2d0f57;
    font-size: 70px;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Raleway', sans-serif;
    text-decoration: overline;
}

.barra {
    width: 100%;
    height: 1000px;
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(275, 67%, 13%, 0.559), hsla(350, 81%, 42%, 0.569)), url(imagenes/boliche2.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(275, 67%, 13%, 0.559), hsla(350, 81%, 42%, 0.569)), url(imagenes/boliche2.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.barra>nav {
    text-align: right;
    padding: 10px 10px 0 0;
    background-color: rgba(255, 255, 255, 0.892);
    font-family: 'Dongle', sans-serif;
    overflow: hidden;
}

.barra>nav>div {
    text-align: left;
    font-family: 'Dosis', sans-serif;
    font-size: 45px;
}

.barra>nav>div>div>a {
    text-align: right;
    color: black;
    font-weight: 300;
    text-decoration: none;
    border: 100px;
    margin-right: 50px;
    font-size: 30px;
    float: right;
    font-family: 'Dongle', sans-serif;
}

.barra>nav>div>div>a:hover {
    text-decoration: underline;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*--------------ESLOGAN-------------*/
.eslogan {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Dosis', sans-serif;
    transition: all 300ms;
    position: relative;
    margin-top: 4%;
}

.eslogan:hover{
    transform: scale(1.2);
}

.eslogan span {
    margin-top: 20px;
    width: 100%;
    font-size: 120%;
    font-weight: bold;
    position: relative;
    font-family: 'Dosis', sans-serif;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.eslogan span::before {
    content: var(--l);
    position: absolute;
    transform: scale(1.1);
    filter: blur(15px);
}

.eslogan span:hover {
    filter: contrast(370%);
    cursor: default;
}

.eslogan span:nth-child(1) {
    color: #e296f9;
}

.eslogan>.frases>h2 {
    margin-top: 10px;
    color: rgb(253, 253, 253) !important;
}

.eslogan>.frases {
    font-size: 70px;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Raleway', sans-serif;
}



/*--------------NOSOTROS-------------*/
.contenedornosotros {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}

.imagen-nosotros {
    width: 48%;
    position: static;
}

.contenedor-nosotros .contenedor-texto {
    width: 48%;
}

.contenedor-texto {
    margin: 1em;
    padding: 1em;
    margin-top: 50px;
}

.contenedor-texto p {
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: justify;
    font-family: 'Dosis', sans-serif;
}

.contenedor-nosotros .contenedor-texto h3 svg{
    color: #2d0f57;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}






/*--------------OPINIONES-------------*/
.rowg-0 {
    display: flex;
    justify-content: space-evenly;
}

.rowg-0 .col-md-4 {
    background-color: #ab22b39f;
    display: flex;
    width: 46%;
    height: 200%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1.5);
}


.rowg-0 .col-md-4 img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid white;
    margin-left: 25px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 2;
}

.card-title {
    font-size: 26px;
    font-family: 'Dongle', sans-serif;
    color: black;
    object-fit: contain;
}





/*--------------FOOTER-------------*/
.contenedor-footer {
    display: flex;
    width: 100%;
    height: 250px;
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(275, 67%, 13%, 0.559), hsla(350, 81%, 42%, 0.569)), url(imagenes/boliche8.webp);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(275, 67%, 13%, 0.559), hsla(350, 81%, 42%, 0.569)), url(imagenes/boliche8.webp);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: antiquewhite;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
    justify-content: space-evenly;
    border-top: 1px solid black;
}

.content-foo {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
}

.content-foo svg{
    color: white;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
    width: 30;
    height: 30;
}

.content-foo h3 {
    border-bottom: 3px solid black;
    padding-bottom: 9px;
    margin-bottom: 20px;
    font-family: 'Arial Narrow', sans-serif;
}

.content-foo a {
    text-decoration: none;
    color: rgb(235, 215, 215);
    font-size: 20px;
}

.content-foo:hover{
    color: #ebd7d7;
    transform: scale(1.20);
    line-height: 1px;
}

.content-foo a:hover{
    color: #ebd7d7;
    text-decoration: underline;
    line-height: 1px;
}