*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Dongle', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(275, 67%, 13%, 0.559), hsla(350, 81%, 42%, 0.569)), url(imagenes/boliche16.jpg_large);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(275, 67%, 13%, 0.559), hsla(350, 81%, 42%, 0.569)), url(imagenes/boliche16.jpg_large);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/*--------------BARRA-------------*/
.barra {
    width: 100%;
}

.barra>nav {
    padding: 1% 1% 0 1%;
    background-color: rgba(255, 255, 255, 0.892);
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.barra> nav > div {
    text-align: left;
    font-family: 'Dosis', sans-serif;
    font-size: xx-large;
}

.barra> nav > div > div > a {
    text-align: right;
    color: black;
    font-weight: 300;
    text-decoration: none;
    margin-right: 3%;
    border: 100px;
    font-size: xx-large;
    float: right;
    font-family: 'Dongle', sans-serif;
}

.barra>nav>div>div>a:hover {
    text-decoration: underline;
}

/*--------------CARGAR EVENTOS-------------*/
.contenedor {
    width: 80%;
    background: hsla(265, 85%, 13%, 0.939);
    border-radius: 30px;
    padding: 3% 4%;
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 5%;
}

.contenedor .gif {
    width: 15%;
    height:  15%;
    margin-left: 42%;
}

.contenedor .c-evento {
    font-family: 'Libre Bodoni', serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: xx-large;
    text-align: center;
    display: block;
    text-transform: capitalize;
    margin: auto;
}

.contenedor .cargar-datos .text-ev {
    padding: 0% 0% 4%;
    color: rgba(255, 255, 255, 0.733);
    font-size: large;
    text-align: center;
    display: block;
    margin: auto;
}

.contenedor .cargar-datos .text-datos {
    padding: 1.5% 0%;
    color: rgba(255, 255, 255, 0.733);
    font-size: 120%;
    text-align: left;
    display: block;
    margin: auto;
}

.contenedor .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: large;
    border-radius: 30px;
    background: #5e3f8adc;
    outline: none;
}

.contenedor .input-group-fyh input{
    width: 49.5%;
    height: 100%;
    border: 2px solid #e7e7e7;
    background: #5e3f8adc;
    padding: 15px 20px;
    font-size: large;
    border-radius: 30px;
    outline: none;
}

/*--------------BOTON-------------*/
.contenedor .input-group .boton {
    display: block;
    width: 100%;
    padding: 1.5% 20%;
    margin: 6% 0% 4% 0%;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;
}


.contenedor .input-group .boton:active {
    background: #f8fc31;
}

.contenedor .input-group .boton:hover {
    background: #7f7ac9;
    transform: scale(1.03);
}

/*--------------FOOTER-------------*/
.contenedor-footer {
    display: flex;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    color: antiquewhite;
    padding: 3% 0 4% 0;
    margin: auto;
    overflow: hidden;
    justify-content: space-evenly;
    background: #c314af46;
    align-self: flex-end;
    position: absolute;
    margin-top: auto;
}

.content-foo {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.content-foo svg {
    color: white;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
    width: 13.5%;
    height: 13.5%;
}
.content-foo h3 {
    border-bottom: 3px solid black;
    padding-bottom: 1.5%;
    margin-bottom: 3%;
    font-family: 'Arial Narrow', sans-serif;
}

.content-foo a {
    text-decoration: none;
    color: rgb(235, 215, 215);
    font-size: 130%;
}

.content-foo:hover {
    color: #ebd7d7;
    transform: scale(1.20);
    line-height: 1px;
}
.content-foo a:hover {
    color: #ebd7d7;
    text-decoration: underline;
    line-height: 1px;
}
