<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Libre+Bodoni&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="imagenes/strava.svg" type="image/x-icon">

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
        integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesceventos.css">

    <title>Eventbring</title>
</head>

<body>
    <!--------------------BARRA--------------->
    <header class="barra">
        <nav>
            <div>
                <div>
                    <img src="imagenes/strava.svg" alt="" width="45" height="39" class="d-inline-block align-text-top">
                    <span style="--l: 'E';">E</span>
                    <span style="--l: 'v';">v</span>
                    <span style="--l: 'e';">e</span>
                    <span style="--l: 'n';">n</span>
                    <span style="--l: 't';">t</span>
                    <span style="--l: 'b';">b</span>
                    <span style="--l: 'r';">r</span>
                    <span style="--l: 'i';">i</span>
                    <span style="--l: 'n';">n</span>
                    <span style="--l: 'g';">g</span>
                </div>
                <div>
                    <a th:href="@{/logout}" sec:authorize="isAuthenticated()">Cerrar sesion</a>
                    <a th:href="@{/consultas}">Consultas</a>                  
                    <a th:href="@{/eventosdisponibles}">Eventos disponibles</a> 
                    <a th:href="@{/cargareventos}" sec:authorize="isAuthenticated()">Crear evento</a>
                    <a th:href="@{/}">Inicio</a>
                </div>

            </div>

        </nav>

        <!----------------CARGAR EVENTO------------------->

        <div class="contenedor">

            <img class="gif" src="imagenes/pulp-fiction.gif" alt="baile">
            <p class="c-evento">Nuevo evento</p>

            <form th:action="@{/cargareventos/registro}" method="POST" class="cargar-datos">

                <p class="text-ev">Para poder crear tu evento, vamos a necesitar algo de información</p>

                <p class="text-datos">Nombre del evento:</p>
                <div class="input-group">
                    <input type="text" name="nombre" placeholder="" required>
                </div>
                

                <p class="text-datos">Fecha y Hora:(ejemplo: 12/05/2022 15:00)</p>
                <div class="input-group">
                    <input name="fecha_hora" type="datetime" placeholder="" required>                    
                </div>
                

                <p class="text-datos">Cupo:</p>
                <div class="input-group">
                    <input name="cupo" type="number" placeholder="" required>
                </div>

                <p class="text-datos">Tipo de evento:</p>
                <div class="input-group">
                    <input name="tipo_evento" type="text" placeholder="" required>
                </div>

                <p class="text-datos">Direccion:</p>
                <div class="input-group">
                    <input name="direccion" type="text" placeholder="" required>
                </div>

                <div class="input-group">
                    <button type="submit" class="boton">Crear mi evento</button>
                </div> 

            </form>


        </div>
</body>

</html>