<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="estiloevdi.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="imagenes/strava.svg" type="image/x-icon">
    <title>Eventbring/EventosDisponibles</title>

</head>

<body>
    <!--------------------BARRA--------------->
    <header class="barra">
        <nav>
            <div>
                <div>
                    <img src="imagenes/strava.svg" alt="" width="45" height="39" class="d-inline-block align-text-top">
                    <span style="--l: 'E';">E</span>
                    <span style="--l: 'v';">v</span>
                    <span style="--l: 'e';">e</span>
                    <span style="--l: 'n';">n</span>
                    <span style="--l: 't';">t</span>
                    <span style="--l: 'b';">b</span>
                    <span style="--l: 'r';">r</span>
                    <span style="--l: 'i';">i</span>
                    <span style="--l: 'n';">n</span>
                    <span style="--l: 'g';">g</span>
                </div>
                <div>
                    <a th:href="@{/consultas}">Consultas</a>                  
                    <a th:href="@{/eventosdisponibles}">Eventos disponibles</a>
                    <a th:href="@{/login}">Iniciar sesion</a>
                    <a th:href="@{/registro}">Registrate</a>
                    <a th:href="@{/}">Inicio</a>
                </div>

            </div>

        </nav>

        <video muted autoplay loop>
            <source
                src="videos/Fast Tunnel TikTok Trend 4K Colorful Laser Fast Comets Pillar Motion BackgroundTunnelTrend - oDownloader.com.mp4"
                type="video/mp4">
        </video>
        <div class="capa"></div>

        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M-3.10,28.94 C151.52,227.30 280.76,-64.80 483.35,78.28 L558.41,181.89 L0.00,150.00 Z"
                    style="stroke: none; fill: rgb(255, 255, 255);"></path>
            </svg></div>
    </header>


    <!---------------------FIESTAS--------------->
    <section class="fiestas">
        <div class="contenedor">
            <h2 class="titulo">Fiestas</h2>
            <div class="galeria-port">
                <div class="img-port">
                    <img src="imagenes/boliche6.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="imagenes/strava.svg" alt="">
                        <p>Fiesta de fin de año</p>
                    </div>
                </div>

                <div class="img-port">
                    <img src="imagenes/boliche1.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="imagenes/strava.svg" alt="">
                        <p>Despedida de solterxs</p>
                    </div>
                </div>

                <div class="img-port">
                    <img src="imagenes/boliche8.webp" alt="">
                    <div class="hover-galeria">
                        <img src="imagenes/strava.svg" alt="">
                        <p>Día del amigo</p>
                    </div>
                </div>

                <div class="img-port">
                    <img src="imagenes/boliche3.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="imagenes/strava.svg" alt="">
                        <p>Carnaval</p>
                    </div>
                </div>

                <div class="img-port">
                    <img src="imagenes/boliche4.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="imagenes/strava.svg" alt="">
                        <p>Fiestas de cumpleaños</p>
                    </div>
                </div>

                <div class="img-port">
                    <img src="imagenes/boliche10.jpeg" alt="">
                    <div class="hover-galeria">
                        <img src="imagenes/strava.svg" alt="">
                        <p>Egresados</p>
                    </div>
                </div>

                <div class="img-port">
                    <img src="imagenes/boliche9.png" alt="">
                    <div class="hover-galeria">
                        <img src="imagenes/strava.svg" alt="">
                        <p>DJ's en vivo</p>
                    </div>
                </div>

                <div class="img-port">
                    <img src="imagenes/boliche7.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="imagenes/strava.svg" alt="">
                        <p>Aniversarios</p>
                    </div>
                </div>

            </div>
            
        </div>
    </section>




    <!----------------CERCANOS------------------->
    <section class="contenedor-cerca">
        <h2 class="titulo">Eventos disponibles</h2>

        <div class="contenedorcercanos">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2605.301092115362!2d-58.566744071012025!3d-34.64273949137865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc7efd961723f%3A0x1d49b12e3fa0efd9!2sJagger%20Club!5e0!3m2!1ses!2sar!4v1650924031572!5m2!1ses!2sar"
                width="1800" height="600" style="border: 1.5px solid black;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <!--<img src="imagenes/nosotros.png" alt="" class="imagen-cerca">
                <div class="contenedor-texto">
                <h3><img src="imagenes/strava.svg" alt="" class="logo">Nuestra idea</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda exercitationem soluta
                    velit debitis nostrum dolore, consequatur culpa enim error placeat unde repellat alias eligendi
                    veniam, ut, atque totam commodi.</p>
                <h3><img src="imagenes/strava.svg" alt="" class="logo">Nuestra idea</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda exercitationem soluta
                    velit debitis nostrum dolore, consequatur culpa enim error placeat unde repellat alias eligendi
                    veniam, ut, atque totam commodi.</p>
            </div>-->
        </div>
    </section>
















    <!----------------FOOTER------------------->
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Whats App</h4>
                <a href="">+54 11012345</a>
            </div>
            <div class="content-foo">
                <h4>Facebook</h4>
                <a href="https://www.facebook.com/">www.facebook.com/</a>
            </div>
            <div class="content-foo">
                <h4>Instagram</h4>
                <a href="https://www.instagram.com/?hl=es-la">www.instagram.com/</a>
            </div>
        </div>
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>





</body>

</html>