<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="imagenes/strava.svg" type="image/x-icon">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href="styleslogin.css">
    <title>Iniciar Sesión</title>
</head>
<body>
    <!--------------------BARRA--------------->
    <header class="barra">
        <nav>
            <div>
                <div>
                    <img src="imagenes/strava.svg" alt="" width="45" height="39" class="d-inline-block align-text-top">
                    <span style="--l: 'E';">E</span>
                    <span style="--l: 'v';">v</span>
                    <span style="--l: 'e';">e</span>
                    <span style="--l: 'n';">n</span>
                    <span style="--l: 't';">t</span>
                    <span style="--l: 'b';">b</span>
                    <span style="--l: 'r';">r</span>
                    <span style="--l: 'i';">i</span>
                    <span style="--l: 'n';">n</span>
                    <span style="--l: 'g';">g</span>
                </div>
                <div>
                    <a th:href="@{/consultas}">Consultas</a>                  
                    <a th:href="@{/eventosdisponibles}">Eventos disponibles</a>
                    <a th:href="@{/login}">Iniciar sesion</a>
                    <a th:href="@{/registro}">Registrate</a>
                    <a th:href="@{/}">Inicio</a>
                </div>

            </div>

        </nav>
<!----------------DATOS DE REGISTRO------------------->
    <div class="registropersonas">
        <p class="registrate-txt">Registrate</p>
        <p class="subregistro">Es fácil y rápido!</p>

        <form class="datos-registro">
            <div class="input-group">
                <input type="text" placeholder="Usuario" required>
            </div>

            <div class="input-group-na">
                <input type="text" placeholder="Nombre" required>
                <input type="text" placeholder="Apellido" required>
            </div>

            <div class="input-group">
                <input type="email" placeholder="E-mail" required>
            </div>

            <div class="input-group">
                <input type="tel" placeholder="Número de teléfono" required>
            </div>

            <div class="input-group">
                <input type="password" placeholder="Contraseña" required>
            </div>

            <p class="repetir-passwd">Repetir Contraseña:</p>

            <div class="input-group">
                <input type="password" placeholder="" required>
            </div>

            <div class="input-group">
                <button class="botonr">Registrarse</button>
            </div>    

            <div class="input-group">
                <a class="atrasr" href="login.html">Atras</a>
            </div>

        </form>
      
       
    </div>
</body>
</html>